<div class="contianer">
	<div class="span11">
		<h3>Listing posts</h3>
		
		<table id="posts-table" class="table table-hover table-striped table-bordered">
			<thead>
			  <tr>
			    <th class="span3">Title</th>
			    <th class="span6">Content</th>
			    <th class="span2">Actions</th>
			  </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
		<br/>
		<a class="btn" href="#/new">New Post</a>
		<br/>
	</div>
	
</div>

