<div class="span5">
	<table class="table table-hover table-bordered">
		<thead>
			<tr><th>Details</th></tr>
		</thead>
		<tbody>
			<tr>
				<td>Title:</td>
				<td><%= title %></td>
			</tr>
			<tr>
				<td>Content:</td>
				<td><%= content %></td>
			</tr>
		</tbody>
	</table>
	
	
	<a href="#">Back</a>
</div>